{% extends "layouts/base.html" %}
{% load static %}

{% block title %} Sales {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

<!-- Add these CDN links in the head section of your HTML file -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha384-Xn538f9sI21U6KfSIiPnZB1u2UaPjstWdzQwiF2D5G2S9LbnN5k3z9DP4KbkF" crossorigin="anonymous">

<style>

  .container-box {
      position: relative;
      min-height: 80vh; /* Adjust the value as needed */
      z-index: 0;
      background: #1e1e2f;
      padding: 20px; /* Adjust the padding as needed */
      justify-content: center;
      display: grid;
      grid-template-rows: 1fr auto 1fr;
      align-items: center;
      margin-top: 50px;
  }

  .container {
      max-width: 1000px;
      margin-top: 0 auto;
      margin-left: 10rem;
  }

  .container-box h1{
      text-align: center;
      font-size: 2.5rem;
      font-weight: 400;
      color: #fff;
  }

  .container-box h4{
      line-height: 20px;
      margin-bottom: 5px;
      font-size: 20px;
      font-weight: 500;
      color: #69275c;
      text-align: center;
  }

.container-box .main{
  position: relative;
  display: flex;
  margin: 30px 0;
}

.contents{
  flex-basis: 50%;
  padding: 3em 3em;
  background: #fff;
  box-shadow: 2px 9px 49px -17px rgba(156, 39, 148, 0.1);
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

  .result-container {
      flex-basis: 50%;
      background: #fff;
      background-size: cover;
      padding: 3em 3em;
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
      align-items: center;
      color: #000;
  }

.result-container h1{
      line-height: 20px;
      margin-bottom: 30px;
      font-size: 20px;
      font-weight: 500;
      color: #69275c;
      text-align: center;
      margin-bottom: 50px;
  } 

  .result-container h2 {
      text-align: center;
      font-size: 25px;
      font-weight: bold;
      color: #000;
      margin-top: 12rem;
  }

  .btn,
button,
input{
  border-radius: 35px;
}
.btn:hover,
button:hover{
  color: #97359c;
  transition: 0.5s ease;
}

.container-box form{
  margin: 30px 0;
}

.container-box input,
textarea{
  outline: none;
  margin-bottom: 15px;
  font-stretch: 16px;
  color: #999;
  padding: 14px 20px;
  width: 100%;
  display: flex;
  box-sizing: border-box;
  border: none;
  background: #cdcbcb4f;
  transition: 0.3s ease;
}

.container-box input:focus{
  background: transparent;
  border: 1px solid #69275c;
}
.container-box button{
  font-size: 14px;
  color: #fff;
  width: 100%;
  background: #6d1d5d;
  font-weight: 600;
  transition: 0.3s ease;
  padding: 14px 10px;
  border: 1px solid #69275c;

}

.form-control {
  display: flex;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.0;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  opacity: 1;
}

</style>
{% endblock stylesheets %}


{% block content %}

<div class="container-box">
  <div class="container">
    <div class="d-flex justify-content-end mt-4">
      <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group mr-2" role="group" aria-label="First group">
          <a href="{% url 'product_data_list' %}" class="btn btn-primary">Table</a>
          <a href="{% url 'line_chart_view' %}" class="btn btn-primary">Line Chart</a>
          <a href="{% url 'pie_chart_view' %}" class="btn btn-primary">Pie Chart</a>
          <a href="{% url 'stacked_bar_chart' %}" class="btn btn-primary">Bar Chart</a>
        </div>
      </div>
    </div>
      <div class="main">
          <div class="contents">
              <h4>Sale Prediction Form</h4>
              <form action="{% url 'predict_sale_view' %}" method="post">
                  {% csrf_token %}

  <div>
    {% comment %} <label for="sale">Price:</label> {% endcomment %}
    <input type="text" id="price" name="price" placeholder="Enter Price" required>
</div>

<div>
    {% comment %} <label for="radio">Radio Advertisements:</label> {% endcomment %}
    <input type="text" id="radio" name="radio" placeholder="Enter Radio Advertisements" required>
</div>

<div>
    {% comment %} <label for="in_store_spending">In-Store Spending:</label> {% endcomment %}
    <input type="text" id="in_store_spending" name="in_store_spending" placeholder="Enter In-Store Spending" required>
</div>

<div>
    {% comment %} <label for="discount">Discount:</label> {% endcomment %}
    <input type="text" id="discount" name="discount" placeholder="Enter Discount" required>
</div>

<div>
    {% comment %} <label for="tv_spending">TV Advertisements Spending:</label> {% endcomment %}
    <input type="text" id="tv_spending" name="tv_spending" placeholder="Enter TV Advertisements Spending" required>
</div>

<div>
    {% comment %} <label for="stock_rate">Stock Rate:</label> {% endcomment %}
    <input type="text" id="stock_rate" name="stock_rate" placeholder="Enter Stock Rate" required>
</div>

<div>
    {% comment %} <label for="online_ads_spending">Online Ads Spending:</label> {% endcomment %}
    <input type="text" id="online_ads_spending" name="online_ads_spending" placeholder="Enter Online Ads Spending" required>
</div>

<button type="submit">Predict Profit</button>

{% if error %}
<p style="color: red;">{{ error }}</p>
{% endif %}

</form>
</div>

<div class="result-container">
<h1>How Much is the Product's Sale?</h1>
<h2>{{ predicted_sale }}</h2>
</div>
</div>
</div>
</div>

{% endblock content %}